*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-slider{
    width: 100%;
    height: 100vh;

}
.slider-content{
    margin-top: 50px;
    text-align: center;
}
.slider-content h5{
    padding: 10px;
    color: yellowgreen;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}
.slider-content h2{
    font-size: 40px;
    padding: 10px;
}
.slider-content p{
    color: gray;
    font-size: 20px;
    padding-bottom: 10px;
}
.card1{
    width: 350px;
    height: 400px;
}
.card1-img img{
     width: 350px;
    height: 350px;
}
.card1-content h5{
    font-size: 20px;
    color: white;
    background-color: rgb(152, 230, 145) ;
}
.card1-content p{
    font-size: 20px;
    color: white;
    background-color: rgb(152, 230, 145);
}