
body{
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

.blog-section {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.blog-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.date-badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #34c759;
    color: #fff;
    padding: 5px 40px;
    text-align: center;
    border-radius: 0 0 8px 0;
}

.date-badge .day {
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.date-badge .year,
.date-badge .month {
    display: block;
    font-size: 12px;
}

.image-box {
    width: 100%;
    height: 230px;
    overflow: hidden;  
    border-radius: 5px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}



.blog-card h3 {
    margin: 15px 0 10px;
    line-height: 1.3;
    font-size: 18px;
    color: #333;
}

.desc {
    font-size: 14px;
    color: #777;
    padding: 8px 0;
    line-height: 1.3;
     word-spacing: 4px;
    margin-bottom: 20px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-btn {
    background: #34c759;
    padding: 8px 16px;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    text-decoration: none;
}

.meta {
    font-size: 13px;
    color: #555;
}

@media (max-width: 768px) {
    .blog-section {
        grid-template-columns: 1fr;
    }

    .image-box {
        height: 200px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 8%;
    top:0;
    z-index: 10;
    position: fixed;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(68, 224, 68);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li a.active {
  color: rgba(44, 223, 44, 0.719);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: #f5f5f5;
    height: 100vh;
}


.hero-left{
    width: 50%;
}

.top-text{
    color: #8ccf72;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 15px;
}
.hero-left h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #333;
}

.hero-left h1 span{
    font-weight: bold;
}

.desc{
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
    font-size: 20px;
}

.cta-btn{
    background: #2ecc71;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10%; 
    line-height: 10px;
}

.hero-right{
    width: 50%;
    text-align: center;
}

.hero-right img{
    width: 100%;
    height: 520px;
    margin-top: 10%;
    border-radius: 4px;
}


@media (max-width: 768px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-left, .hero-right{
        width: 100%;
    }

    .hero-left h1{
        font-size: 28px;
    }

    .hero-right img{
        width: 80%;
        margin-top: 20px;
    }
}
