*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 8%;
    top:0;
    z-index: 10;
    position: fixed;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(68, 224, 68);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li a.active {
  color: rgba(44, 223, 44, 0.719);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: #f5f5f5;
    height: 100vh;
}


.hero-left{
    width: 50%;
}

.top-text{
    color: #8ccf72;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 15px;
}
.hero-left h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #333;
}

.hero-left h1 span{
    font-weight: bold;
}

.desc{
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
    font-size: 20px;
}

.cta-btn{
    background: #2ecc71;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10%; 
    line-height: 10px;
}

.hero-right{
    width: 50%;
    text-align: center;
}

.hero-right img{
    width: 100%;
    height: 520px;
    margin-top: 10%;
    border-radius: 4px;
}


@media (max-width: 768px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-left, .hero-right{
        width: 100%;
    }

    .hero-left h1{
        font-size: 28px;
    }

    .hero-right img{
        width: 80%;
        margin-top: 20px;
    }
}
/* jamshaid */
body{
    margin:0;
    font-family: Arial, sans-serif;
}

.slider-section{
    background:#36d885;
    padding:60px 0;
    text-align:center;
    color:black ;
}

.slider-section h2{
    font-size:32px;
    margin-bottom:40px;
}

.slider-container{
    width:90%;
    max-width:1100px;
    margin:0 auto;
    overflow:hidden;
}

.slider{
    display:flex;
    transition:transform 0.5s ease-in-out;
}

.slide{
    min-width:33.33%;   /* show 3 cards */
    padding:20px;
    box-sizing:border-box;
}

.card{
    background:#fff;
    padding:80px 20px 40px;
    border-radius:15px;
    text-align:center;
    min-height:300px;
    position:relative;
}

/* Full Image (No Cut) */
.card img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;       /* full visible inside circle */
    position:absolute;
    top:-20px;
    left:50%;
    transform:translateX(-50%);
    border:6px solid #36d885;
}

/* Responsive */
@media(max-width:768px){
    .slide{
        min-width:50%;     /* show 2 cards */
    }
}

@media(max-width:480px){
    .slide{
        min-width:100%;    /* show 1 card */
    }
}
