
body{
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

.blog-section {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.blog-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.date-badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #34c759;
    color: #fff;
    padding: 5px 40px;
    text-align: center;
    border-radius: 0 0 8px 0;
}

.date-badge .day {
    font-size: 26px;
    font-weight: bold;
    display: block;
}

.date-badge .year,
.date-badge .month {
    display: block;
    font-size: 12px;
}

.image-box {
    width: 100%;
    height: 230px;
    overflow: hidden;  
    border-radius: 5px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}



.blog-card h3 {
    margin: 15px 0 10px;
    line-height: 1.3;
    font-size: 18px;
    color: #333;
}

.desc {
    font-size: 14px;
    color: #777;
    padding: 8px 0;
    line-height: 1.3;
     word-spacing: 4px;
    margin-bottom: 20px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-btn {
    background: #34c759;
    padding: 8px 16px;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    text-decoration: none;
}

.meta {
    font-size: 13px;
    color: #555;
}

@media (max-width: 768px) {
    .blog-section {
        grid-template-columns: 1fr;
    }

    .image-box {
        height: 200px;
    }
}