*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 8%;
    top:0;
    z-index: 10;
    position: fixed;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(68, 224, 68);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li a.active {
  color: rgba(44, 223, 44, 0.719);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: #f5f5f5;
    height: 100vh;
}


.hero-left{
    width: 50%;
}

.top-text{
    color: #8ccf72;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 15px;
}
.hero-left h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #333;
}

.hero-left h1 span{
    font-weight: bold;
}

.desc{
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
    font-size: 20px;
}

.cta-btn{
    background: #2ecc71;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10%; 
    line-height: 10px;
}

.hero-right{
    width: 50%;
    text-align: center;
}

.hero-right img{
    width: 100%;
    height: 520px;
    margin-top: 10%;
    border-radius: 4px;
}


@media (max-width: 768px){
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-left, .hero-right{
        width: 100%;
    }

    .hero-left h1{
        font-size: 28px;
    }

    .hero-right img{
        width: 80%;
        margin-top: 20px;
    }
}
